# Virtual environment
env/

# Python cache
__pycache__/
*.pyc

# Model files (opsional, kalau besar)
*.pkl

# Database lokal
mlflow.db
*.db

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/